     <!--About Me-->
     <v-row id="about" class="dark">
      <v-spacer></v-spacer>
      <v-col cols="2">
        <v-img
            height="200px"
            width="200px"
            src="images/profile.jpg"
          ></v-img>
      </v-col>
      <v-col cols="5" class="white--text">
        <h1>ABOUT ME</h1>
        <p class="grey--text">I have worked on a multitude of web and print based projects for a range of clients 
          providing Web Design (Photoshop, Illustrator, InDesign) and
           Development (PHP, HTML, CSS, LESS, JS, jQuery, WordPress, WooCommerce, Bootstrap, Responsive Layouts), 
           eCommerce Solutions
           <br/>
           <br/>
          I have a keen understanding of wireframes, 
          sitemaps and user experience design which I put to good use on every project I work on.
        </p>
      </v-col>
      <v-spacer></v-spacer>
    </v-row>