<v-col id="contact" cols="12" class="dark">
  <div class="second">
    <div class="secondchild1" id="contact">
      <v-row>
        <v-col cols="7">
          <h1 class="white--text">
            Let's work together on<br />your next project
          </h1>
          <p class="grey--text">
            Contact me: +254 799 417127
            <br />
            Email: enoch.dizraeli@gmail.com
          </p>
        </v-col>
        <v-col cols="5">
          <div>
            <v-btn target="_blank" href="https://wa.me/254799417127" tile color="green" dark class="mr-2">
              <v-icon>mdi-whatsapp</v-icon>
              Whatsapp
            </v-btn>
            <v-btn target="_blank" href="tel:25799417127" tile color="primary" dark>
              <v-icon>mdi-phone</v-icon>
              Call Me
            </v-btn>
            <v-btn target="_blank" href="mailto:enoch.dizraeli@gmail.com" tile color="#A7121D" dark class="mt-2">
              <v-icon>mdi-email</v-icon>
              Send Email
            </v-btn>
          </div>
        </v-col>
      </v-row>
    </div>
  </div>
  <v-toolbar class="topTolbar" color="#111111" dark flat>
    <div
      style="
        position: absolute;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        text-align: center;
      "
    >
      <v-btn text>Home</v-btn>
      <v-btn text>Project</v-btn>
      <v-btn text>about</v-btn>
      <v-btn text> contact</v-btn>
    </div>
  </v-toolbar>
</v-col>