<v-row class="dark">
    <v-spacer></v-spacer>
    <v-col cols="6" class="hero">
      <h1 class="white--text display-2 text-center font-weight-bold">HELLO, IT'S ISRAEL ENOCH</h1>
      <p class="grey--text text-center mt-3">
        I'M A WEB DESIGNER & DEVELOPER CURRENTLY BASED IN NAIROBI, KENYA<br />
        HIT ME UP AND LET'S CREATE SOMETHING SPECIAL
        <br />
      </p>
      <v-btn class="mt-5" tile color="#A7121D" dark> VIEW PROJECTS </v-btn>
    </v-col>
    <v-spacer></v-spacer>
  </v-row>