<v-row class="dark">
  <v-col md="3" offset-md="3" id="projects">
    <h4 class="white--text">FEATURED PROJECTS</h4>
    <p class="grey--text">Some of the work that I'm proud of</p>
  </v-col>
  <v-col md="3" class="text-end">
    
  </v-col>
  <v-col md="3" offset-md="3">
    <v-card
      class="pa-2 py-12"
      outlined
      tile
      height="250px"
      color="#1E1E1E"
    >
      <v-img src="images/my_kanban.jpg" contain max-height=""></v-img>
    </v-card>
  </v-col>


  <v-col md="3">
    <v-card
      class="pa-2 py-12"
      outlined
      tile
      height="250px"
      color="#1E1E1E"
    >
      <v-img src="images/vue_doer.jfif" contain max-height=""></v-img>
    </v-card>
  </v-col>
  <v-col md="3" offset-md="3">
    <v-btn color="white" dark text class="ml-n4"> MyKanban </v-btn>
      <p class="secondary--text">Mykanban is a delightful and convenient kanban web app that makes it super-simple and covenient to use kanban on your PC
         as it works offline</p>
    <br />
    <v-btn href="https://enockdizraeli.github.io/myKanban" target="_blank" color="primary" dark text class="btn ml-n4">
      Visit website
      <v-icon right>mdi-link</v-icon>
    </v-btn>
  </v-col>



  <v-col md="3">
    <v-btn color="white" dark text class="ml-n4"> Vue Doer </v-btn>
      <p class="secondary--text">
        Manage all your projects and tasks in this project management web app heavily inspired by todoist made in vue.js and vuetify
      </p>
    <br />
    <v-btn href="https://enockdizraeli.github.io/myKanban" target="_blank" color="primary" dark text class="btn ml-n4">
      Visit website
      <v-icon right>mdi-link</v-icon>
    </v-btn>
  </v-col>
</v-row>